src/training/logs
final_report/report.fls
final_report/report.log
final_report/report.fdb_latexmk
final_report/report.blg
final_report/report.bbl
final_report/report.aux
final_report/report.synctex.gz
src/data/spect_train.npy
src/data/spect_test.npy
src/data/normal_acc_train.npy
src/data/normal_acc_test.npy
src/data/lfp_train.npy
src/data/lfp_test.npy
src/data/ET003M12D12taskstim-old.mat
src/data/downsampled_acc_train.npy
src/data/downsampled_acc_test.npy
final_report/report.pdf
